.header {
	border-radius: 20px;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	text-align: center;
}

.miks {
	width: 45%;
	height: 40px;
	padding-top: 20px;
}
.text {
	width: 45%;
	height: 40px;
	padding-bottom: 30px;
}
.viimane {
	width: 45%;
	height: 40px;
	padding-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}


@media screen and (max-width: 1180px) {
	
	.content {
		display: block;
	}
	
    .miks{
		font-size: 25px;
		width: 100%;
		height: 100px;
		padding-top: 4rem
    }
	.text {
		font-size: 25px;
		width: 100%;
		height: 85px;
		padding-bottom: 60px;
	}
	.viimane {
		font-size: 25px;
		width: 100%;
		height: 85px;
		padding-bottom: 60px;
		padding-bottom: 100px;
	}
}
